# Merging Data avec Pandas
###  Importer pandas et les dataset user_device.csv, user_usage.csv et android_devices.csv

In [1]:
import pandas as pd

In [28]:
pd.read_csv("user_device.csv")
pd.read_csv("user_usage.csv")
pd.read_csv("android_devices.csv")

      Retail Branding Marketing Name       Device                      Model
0                 NaN            NaN       AD681H  Smartfren Andromax AD681H
1                 NaN            NaN        FJL21                      FJL21
2                 NaN            NaN          T31              Panasonic T31
3                 NaN            NaN     hws7721g         MediaPad 7 Youth 2
4                  3Q        OC1020A      OC1020A                    OC1020A
...               ...            ...          ...                        ...
14541           pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1                      QPI-1
14544       tecmobile       OmnisOne     OmnisOne                  Omnis One
14545           ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Importer les dataset & renommer la colonne Branding du dataset android_devices.csv

In [116]:
user_device=pd.read_csv("user_device.csv")
user_usage=pd.read_csv("user_usage.csv")
android_devices=pd.read_csv("android_devices.csv").rename(columns=({"Retail Branding":"Branding"}))

### Afficher les dataset

In [30]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [31]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [35]:
android_devices.head(10)

,Branding,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

### Votre premier merge

In [117]:
user_device_drop=user_device[['use_id','platform','device']]
data_merge=user_usage.merge(user_device_drop, on = 'use_id',how = 'inner'); data_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Afficher la shape de vos dataset ainsi que celle du dataset de sortie

In [121]:
print("user_usage dimensions:", user_usage.shape)
print("user_device dimensions:",user_device_drop.shape)
print("data_merge dimensions:",data_merge.shape)

user_usage dimensions: (240, 4)
user_device dimensions: (272, 3)
data_merge dimensions: (159, 6)

### Afficher via value_counts les use_id prÃ©sent dans le nouveau dataset ainsi que ceux non prÃ©sent

In [70]:
user_usage['use_id'].isin(data_merge['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

### Le left merge
Afficher la shape du dataset user_usage, celle du dataset de sortie ainsi que les valeurs manquantes.

In [122]:
left_merge=(user_usage.merge(user_device, on = 'use_id',how = 'left'))
print("user_usage dimensions:", user_usage.shape)
print("left_merge dimensions:",left_merge.shape)
print("There are {} missing values in the merged table.".format(left_merge.isna().value_counts().array[-1]))

user_usage dimensions: (240, 4)
left_merge dimensions: (240, 9)
There are 81 missing values in the merged table.

### Afficher votre dataset

In [123]:
left_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0
2,1710.08,136.88,7267.55,22789,28714.0,android,6.0,SM-G930F,1.0
3,94.46,35.17,519.12,22790,29592.0,android,5.1,D2303,1.0
4,71.59,79.26,1557.33,22792,28217.0,android,5.1,SM-G361F,1.0

### Le right merge

In [127]:
right_merge=(user_usage.merge(user_device_drop, on = 'use_id',how = 'right'))
print("user_device dimensions:", user_device.shape)
print("right_merge dimensions:",right_merge.shape)
print("There are {} missing values in the 'monthly_mb' column in the result.".format(right_merge['monthly_mb'].isna().sum()))
print("There are {} missing values in the 'monthly_mb' column in the result.".format(right_merge['platform'].isna().sum()))

user_device dimensions: (272, 6)
right_merge dimensions: (272, 6)
There are 113 missing values in the 'monthly_mb' column in the result.
There are 0 missing values in the 'monthly_mb' column in the result.

### Le outer merge : exemple

In [143]:
outer_merge=(user_usage.merge(user_device_drop, on = 'use_id',how = 'outer',indicator=True))

print("There are {} unique values of use_id in our dataframes.".format(outer_merge['use_id'].nunique()))
print("Outer merge result has {} rows.".format(outer_merge.shape))
print("There are {} rows with no missing values.".format(outer_merge.isna().value_counts().array[0]))

There are 353 unique values of use_id in our dataframes.
Outer merge result has (353, 7) rows.
There are 159 rows with no missing values.

### Afficher les lignes 0,1,200,201,350,351

In [144]:
outer_merge.iloc[[0,1,200,201,350,351]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
0,21.97,4.82,1557.33,22787,android,GT-I9505,both
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
200,28.79,29.42,3114.67,23988,NaN,NaN,left_only
201,616.56,99.85,5414.14,24006,NaN,NaN,left_only
350,NaN,NaN,NaN,23050,ios,"iPhone7,2",right_only
351,NaN,NaN,NaN,23051,ios,"iPhone7,2",right_only

### Ajouter les colonnes device & manufacturer