# Les imports usuels

In [46]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
sns.set()

# La Statistique Descriptive
## Pandas
| **Aggregation** | **Description** |
|:-|:-|
| ```count()``` | Nombre total d'éléments non nuls |
| ```first()```, ```last()``` | Premier et Dernier élément |
| ```mean()```, ```median()``` | Moyenne et Médiane |
| ```min()```, ```max()``` | Minimum et Maximum |
| ```std()```, ```var()``` | Ecart-Type et Variance |
| ```mad()``` | Déviation absolue |
| ```prod()``` | Produit de tous les éléments |
| ```sum()``` | Somme de tous les éléments |

In [6]:
data=sns.load_dataset('planets')

In [7]:
data.shape

(1035, 6)

In [8]:
data.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [15]:
data.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [16]:
data.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [12]:
data.isna().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

**Remarque :**<br/>

In [24]:
data['mass'].sum()/data.shape[0]

1.3076100289855073

In [25]:
data['mass'].mean()

2.6381605847953216

Puisque la série comprend des NaN, le nombre de valeurs est différent de la longeur de la table.

In [26]:
data['mass'].sum()/data['mass'].count()

2.6381605847953216

In [21]:
data.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

### Regrouper les variables

In [31]:
data_group=data.copy()
data_group=data_group.groupby('method')
data_group.describe().head()

                              number                                          \
                               count      mean       std  min  25%  50%  75%
method
Astrometry                       2.0  1.000000  0.000000  1.0  1.0  1.0  1.0
Eclipse Timing Variations        9.0  1.666667  0.500000  1.0  1.0  2.0  2.0
Imaging                         38.0  1.315789  0.933035  1.0  1.0  1.0  1.0
Microlensing                    23.0  1.173913  0.387553  1.0  1.0  1.0  1.0
Orbital Brightness Modulation    3.0  1.666667  0.577350  1.0  1.5  2.0  2.0

                                   orbital_period                 ...  \
                               max          count           mean  ...
method                                                            ...
Astrometry                     1.0            2.0     631.180000  ...
Eclipse Timing Variations      2.0            9.0    4751.644444  ...
Imaging                        4.0           12.0  118247.737500  ...
Microlensing                   2.0            7.0    3153.571429  ...
Orbital Brightness Modulation  2.0            3.0       0.709307  ...

                                distance           year               \
                                     75%      max count         mean
method
Astrometry                       19.3225    20.77   2.0  2011.500000
Eclipse Timing Variations       500.0000   500.00   9.0  2010.000000
Imaging                         132.6975   165.00  38.0  2009.131579
Microlensing                   4747.5000  7720.00  23.0  2009.782609
Orbital Brightness Modulation  1180.0000  1180.00   3.0  2011.666667

                                                                           \
                                    std     min      25%     50%      75%
method
Astrometry                     2.121320  2010.0  2010.75  2011.5  2012.25
Eclipse Timing Variations      1.414214  2008.0  2009.00  2010.0  2011.00
Imaging                        2.781901  2004.0  2008.00  2009.0  2011.00
Microlensing                   2.859697  2004.0  2008.00  2010.0  2012.00
Orbital Brightness Modulation  1.154701  2011.0  2011.00  2011.0  2012.00


                                  max
method
Astrometry                     2013.0
Eclipse Timing Variations      2012.0
Imaging                        2013.0
Microlensing                   2013.0
Orbital Brightness Modulation  2013.0

[5 rows x 40 columns]

In [35]:
data_group['orbital_period'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

In [33]:
data_group['orbital_period'].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [38]:
data_group['mass'].count()

method
Astrometry                         0
Eclipse Timing Variations          2
Imaging                            0
Microlensing                       0
Orbital Brightness Modulation      0
Pulsar Timing                      0
Pulsation Timing Variations        0
Radial Velocity                  510
Transit                            1
Transit Timing Variations          0
Name: mass, dtype: int64

In [41]:
data['method'].value_counts() - data_group['mass'].count() #nombre de valeurs manquantes

Astrometry                         2
Eclipse Timing Variations          7
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                   43
Transit                          396
Transit Timing Variations          4
dtype: int64

Pour effectuer ce genre d'opérations, les index des dataset doivent correspondre.

**Sélectionner des champs répondants à une condition**

In [44]:
mask=data['number']>1
data[mask]

              method  number  orbital_period  mass  distance  year
9    Radial Velocity       2        452.8000  1.99     74.79  2010
10   Radial Velocity       2        883.0000  0.86     74.79  2010
13   Radial Velocity       3       1078.0000  2.53     14.08  1996
14   Radial Velocity       3       2391.0000  0.54     14.08  2001
15   Radial Velocity       3      14002.0000  1.64     14.08  2009
..               ...     ...             ...   ...       ...   ...
925     Microlensing       2             NaN   NaN   4080.00  2012
926     Microlensing       2             NaN   NaN   4080.00  2012
941    Pulsar Timing       3         25.2620   NaN       NaN  1992
942    Pulsar Timing       3         66.5419   NaN       NaN  1992
943    Pulsar Timing       3         98.2114   NaN       NaN  1994

[440 rows x 6 columns]

## Seaborn

In [48]:
data=pd.read_csv('https://bit.ly/iris-dataset-training')

In [49]:
data.shape

(150, 5)

In [50]:
data.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
species               object
dtype: object

In [51]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [52]:
data.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [54]:
data.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

In [55]:
data[data.duplicated(keep=False)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
101,5.8,2.7,5.1,1.9,virginica
142,5.8,2.7,5.1,1.9,virginica

### Histogrammes - Distribution des valeurs

### Bee swarm plot - Distribution par catégorie

### Box Plot - Outlier et plages de valeurs

### Scatter Plot - Correlations

# Key Performance Indicator (KPI)
## Définition
Variable/métrique permettant d'évaluer la performance. Elle permet d'estimer si on projet se déroule bien.<br/>
L'évolution de l'indicateur permet de visualiser la perfomance dans le but de l'optimiser.